body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Slab", serif;
  min-height: 100vh;
}

.JavaScriptBanner {
  background-color: #666666;
  width: 100%;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.JavaScriptBanner p {
  color: #ffffff;
  font-size: 1em;
}

.Header {
  background-color: #800000;
  display: grid;
  grid-template-areas: "logo title tabs";
  grid-template-columns: 6em 2fr 2fr;
  justify-items: center;
  align-items: center;
}
.Header .Logo {
  grid-area: logo;
  height: 5em;
  padding: 0.5em;
}
.Header .Title {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}
.Header .Title h1 {
  color: #ffffff;
  font-size: 2em;
}
.Header .Tabs {
  grid-area: tabs;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  height: 100%;
  width: 100%;
}
.Header .Tabs a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  position: relative;
  margin: 1em;
}
.Header .Tabs a::before {
  background-color: #ffffff;
  content: "";
  width: 0;
  height: 0.075em;
  position: absolute;
  top: 1.1em;
  transition-property: width;
  transition-duration: 0.25s;
}
.Header .Tabs a:hover::before {
  width: 100%;
}

.Content {
  min-height: calc(100vh - 10em);
}

/*#MainContent {
    background:
    linear-gradient(
        rgba(128, 0, 0, 0.5), 
        rgba(128, 0, 0, 0.5)
      ),
      url("/resources/images/james-sutton-705775-unsplash.jpg");
    background-size: 100%;
    background-attachment: fixed;
    min-height: calc(100vh - 5em);
    padding: 1em;
    h1 {
        font-family: $default-font;
        color: $white;
        font-size: 7em;
        //text-shadow: 0 0.05em 0.15em $black;
        margin: 0;
    }
}*/
#MainContent {
  background: linear-gradient(rgba(128, 0, 0, 0.75), rgba(128, 0, 0, 0.75)), url("/resources/images/james-sutton-705775-unsplash.jpg");
  background-size: 100%;
  background-attachment: fixed;
  min-height: calc(100vh - 5em);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#MainContent h1 {
  font-family: "Roboto Slab", serif;
  color: #ffffff;
  font-size: 7em;
  margin: 0;
}
#MainContent button {
  background: none;
  border: 0.1em solid #ffffff;
  border-radius: 0.5em;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5em;
  font-family: "Roboto Slab", serif;
  padding: 0.25em 0.75em 0.25em 0.75em;
  margin: 0.5em;
  margin-top: 1.25em;
  transition-property: background-color, color;
  transition-duration: 0.15s;
}
#MainContent button:hover {
  background-color: #ffffff;
  color: #800000;
}
#MainContent a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  padding: 0 1em 0 1em;
}
#MainContent a:hover {
  text-decoration: underline;
}
#MainContent .SplashContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*#MainContent::after {
    position: absolute;
    background-color: $primary;
    opacity: 0.75;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    //z-index: 1;
}*/
#SignupContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#SignupContent iframe {
  overflow: hidden;
  padding-top: 2em;
}

.MapContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MapContent #map {
  background-color: #d3d3d3;
  border-radius: 1em;
  box-shadow: 0 0.25em 0.5em #d3d3d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 4em);
  margin: 2em;
  min-height: calc(100vh - 4em - 14em);
}
.MapContent #map img {
  border-radius: 1em;
  height: 100%;
  width: 100%;
}
.MapContent #map p {
  color: #000000;
  font-family: "Roboto Slab", serif;
  margin: 0;
}

noscript {
  display: flex;
  flex-direction: column;
  align-items: center;
}
noscript .ContentNoScript {
  background-color: #ffffff;
  border: solid 0.25em #800000;
  border-radius: 1em;
  color: #800000;
  padding: 1em;
  margin: 2em;
  height: 50%;
  width: 50%;
}

#EventsContent {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.CalendarEvent {
  background-color: #ffffff;
  border-radius: 1em;
  box-shadow: 0 0.25em 0.5em #d3d3d3;
  display: grid;
  margin-bottom: 1.5em;
  padding: 0 1em 1em 1em;
  overflow: hidden;
  width: 50%;
  grid-template-areas: "date title" "date description" "time location";
  grid-template-columns: 6em auto;
  grid-template-rows: 2em 4em 1em;
  column-gap: 1em;
}
.CalendarEvent .CalendarDate {
  grid-area: date;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.CalendarEvent .CalendarDate .DateMonth {
  font-size: 1.25em;
}
.CalendarEvent .CalendarDate .DateDay {
  font-size: 2.5em;
}
.CalendarEvent .CalendarTitle {
  grid-area: title;
  display: flex;
  align-items: center;
}
.CalendarEvent .CalendarDescription {
  grid-area: description;
  overflow: hidden;
}
.CalendarEvent .CalendarTime {
  grid-area: time;
  display: flex;
  justify-content: center;
}
.CalendarEvent .CalendarLocation {
  grid-area: location;
}

.Footer {
  background-color: #800000;
  height: 4em;
}

/*# sourceMappingURL=stylesheet.css.map */
